<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% end %}</title>
        <meta name="description" content="BeiJing Tours" />
        <meta name="keywords" content="tours beijing kongfu" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="{{static_url('css/style.css')}}" />
        <!-- modernizr enables HTML5 elements and feature detects -->
        <script type="text/javascript" src="{{ static_url('js/modernizr-1.5.min.js') }}"></script>
    </head>
    <body>
        <div id="main">
            <header>
                <div id="logo">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1>
                        <a href="index.html"><span class="logo_colour">Inner China</span></a>
                    </h1>
                </div>
                <nav>
                    <ul class="sf-menu" id="nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="examples.html">Examples</a></li>
                        <li><a href="page.html">A Page</a></li>
                        <li><a href="another_page.html">Another Page</a></li>
                        <li>
                            <a href="#">Example Drop Down</a>
                            <ul>
                                <li><a href="#">Drop Down One</a></li>
                                <li><a href="#">Drop Down Two</a>
                                    <ul>
                                        <li><a href="#">Sub Drop Down One</a></li>
                                        <li><a href="#">Sub Drop Down Two</a></li>
                                        <li><a href="#">Sub Drop Down Three</a></li>
                                        <li><a href="#">Sub Drop Down Four</a></li>
                                        <li><a href="#">Sub Drop Down Five</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down Three</a></li>
                                <li><a href="#">Drop Down Four</a></li>
                                <li><a href="#">Drop Down Five</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.php">Contact Us</a></li>
                    </ul>
                </nav>
            </header>
            {% block content %}{% end %}
            <footer>
                <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.php">Contact Us</a></p>
                <p>Copyright &copy; CSS3_design_one | Photos by <a href="http://www.fotogrph.com">Fotogrph</a> | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
            </footer>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <!-- javascript at the bottom for fast page loading -->
        <script type="text/javascript" src="{{ static_url('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/jquery.easing-sooper.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/jquery.sooperfish.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/image_fade.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('ul.sf-menu').sooperfish();
            });
        </script>
    </body>
</html>